/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400;700&display=swap');


body {
  color: #0f1a0e;
  font: 'Quicksand', sans-serif;
 
}

.navbar-brand {
  font: bold x-large 'Quicksand', sans-serif;
}

.form-control{
  background-color: rgba(240, 248, 255, 0.301);
  border: none;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  box-shadow: rgba(149, 157, 165, 0.2) 10px  ;
  background-size: 100%;
  width: auto;
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.car1{
  background-image: url(image/dog.jpg);
}
.car2{
  background-image: url(image/run.jpg);
}
.car3{
  background-image: url(image/fly.jpg);
}

.car1, .car2, .car3{
  background-size: cover;
  width: 100%;
  height: 100%;
  
}

.dog1{
  background-image: url(image/sit.svg);
}
.dog2{
  background-image: url(image/walk.svg);
}
.dog3{
  background-image: url(image/over.svg);
}
.dog1, .dog2, .dog3{
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 10%;
}


.box1{
  background-image: url(image/bite.jpg);
}
.box2{
  background-image: url(image/black.jpg);
}
.box3{
  background-image: url(image/twice.jpg);
}
.box1, .box2, .box3{
  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.row h1{
  padding: 2%;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.navbar {
  position: absolute;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  text-shadow: 2px 2px 4px #000000;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  
}

.featurette-divider {
  margin: 4rem 0;
}


.featurette-heading {
  letter-spacing: -.05rem;
}

.container, .contain, .service{
  margin: auto; 
  background-size: cover;
  padding: 5%;
  text-align: center;

}
.service{
  background-image: url(./image/nose.svg);
}
.cont{
  background-size: cover;
}
.pn{
  margin: auto;
  width: 50%;
}
.contain{
  background-image: url(./image/STAMP.svg);
  padding: 3% 16%;
}


@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


